 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 719px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 599px;
  background-image: url("img/3030.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 291px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 30px 15px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  align-self: center;
  margin: 33px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  align-self: center;
  margin: -26px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 60px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-image-1 {
    min-height: 543px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-1 .u-btn-3 {
    border-style: none;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-image-1 {
    min-height: 645px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 645px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-1 .u-image-1 {
    min-height: 441px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-image-1 {
    min-height: 278px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 602px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}