.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    transition: all 0.3s;
}


.header {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    z-index: 2;
}

.navbar {
    background: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 50px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0rem;
    width: 75px;
    height: 75px;
    margin-top: 0px;
}
.navbar-brand img{
    
    width: 75px;
    height: 75px;
    
}

.navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    outline: transparent;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding: 5px 20px;
    margin: 0px 2px;
    z-index: 1;
}

.navbar-light .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 100%;
    background: linear-gradient(to right, #0f7404, #5cb917);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
    border-radius: 3px;
}

.navbar-light .navbar-nav .nav-link:focus::before,
.navbar-light .navbar-nav .nav-link:hover::before {
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fafafa;
}

.header-content {
    display: inline-block;
    display: flex;
}

.header_contact {
    display: inline-block;
}

.header_contact span {
    color: #60cd12;
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin-right: 10px;
}

.header_contact span.phone_no {
    color: #fff;
    font-size: 16px;
}

.header_icon {
    height: 45px;
    width: 45px;
    text-align: center;
    background-color: #13424a;
    border-radius: 50%;
    margin-left: 30px;
}

.header_icon i {
    color: #fff;
    font-size: 24px;
    line-height: 1.9;
}

.header_icon {
    display: inline-block;
    position: relative;
}

.header_icon .cart_no {
    position: absolute;
    top: 0px;
    right: -5px;
    height: 18px;
    width: 18px;
    text-align: center;
    background-color: #51af14;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    line-height: 1.9;
}

.dropdown-menu {
    background-color: #dfebed;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #1d8007;
}






/*booking*/
.section {
    margin-top: 50px;
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Raleway', sans-serif;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color:rgb(252, 242, 248);
}

.booking-form {
	background: rgb(231, 237, 238);
	max-width: 768px;
	width: 100%;
	margin: auto;
	padding: 30px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: transparent;
	height: 65px;
	padding: 0px 15px;
	border-radius: 20px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	color: rgb(14, 5, 5);
	border: 0px;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 2px solid #0a0404;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(10, 1, 1, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(10, 1, 1, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(13, 1, 1, 0.3);
}

.booking-form .form-group.input-not-empty .form-control {
	border-color: #fff;
	padding-bottom: 20px;
}

.booking-form .form-label {
	color: rgb(16, 5, 5);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	position: absolute;
	left: 0;
	bottom: 0px;
	opacity: 0;
	pointer-events: none;
	display: block;
	width: 100%;
	background: #bab5b5;
	padding: 0px 15px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-label {
	opacity: 1;
	bottom: 0px;
	color: #1a1b1d;
	background: #fff;
}

.booking-form input[type="date"].form-control,
.booking-form input[type="time"].form-control {
	padding-bottom: 20px;
}

.booking-form input[type="date"].form-control:invalid,
.booking-form input[type="time"].form-control:invalid {
	color: rgba(14, 2, 2, 0.3);
}

.booking-form input[type="date"].form-control+.form-label,
.booking-form input[type="time"].form-control+.form-label {
	color: #1a1b1d;
	opacity: 1;
}

.booking-form select.form-control {
	padding-bottom: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control option {
	color: #1a1b1d;
}

.booking-form select.form-control:invalid {
	color: rgba(1, 0, 0, 0.3);
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 26px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(212, 31, 31, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-group.input-not-empty select.form-control+.select-arrow {
	color: rgb(10, 2, 2);
}

.booking-form select.form-control~.form-label {
	color: #1a1b1d;
	opacity: 1;
}

.booking-form .form-btn {
	margin-top: 10px;
}

.booking-form .submit-btn {
	font-weight: 700;
	height: 55px;
	color: #1a1b1d;
	background-color: #ffc600;
	font-size: 18px;
	border-radius: 0px;
	width: 100%;
	border: none;
}