<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm nhà trọ</title>
    <th:block th:insert="~{roomtype :: link}"></th:block>
    <th:block th:insert="~{roomtype :: head/script}"></th:block>

    <link href="/css/hoststyle.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <!-- <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->


        <!-- Sidebar Start -->
        <div th:insert="~{hostpage :: div.fragment-1}"></div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <div th:insert="~{hostpage :: div.fragment-2}"></div>
            <!-- Navbar End -->




            <!-- Recent Sales Start -->
            <div class="container-fluid">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-8">
                        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <a href="/api/v1/host/">
                                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>HOMETRO</h3>
                                </a>
                                <h3>Thêm nhà trọ</h3>
                            </div>
                            <form action="/api/v1/hostel/insert" method="post">
                                <div class="form-floating mb-4">
                                    <label>Tên nhà trọ</label>
                                    <input type="text" name="hostelName" class="form-control" placeholder="Tên nhà trọ">
                                </div>
                                <div class="form-floating mb-4">
                                    <label>Địa chỉ</label>
                                    <input type="text" name="address" class="form-control" placeholder="Địa chỉ">
                                </div>
                                <div class="form-floating mb-4">
                                    <label>Chỉ số điện</label>
                                    <input type="number" name="electricityValue" class="form-control" placeholder="Chỉ số điện">
                                </div>
                                <div class="form-floating mb-4">
                                    <label>Chỉ số nước</label>
                                    <input type="number" name="waterValue" class="form-control" placeholder="Chỉ số nước">
                                </div>
                                <br><br>

<!--                                <div class="form-floating mb-4">-->
<!--                                    <label>Hình ảnh</label>-->
<!--                                    </br>-->
<!--                                    <input type="file" name="inpFile" id="inpFile">-->
<!--                                    <div class="image-preview" id="imagePreview">-->
<!--                                        <img src="" alt="Image Preview" class="image-preview__image">-->
<!--                                        <span class="image-preview__default-text">Hình nhà trọ</span>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Xác nhận</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->



        </div>

    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>

    <script>
        const inpFile = document.getElementById("inpFile");
        const previewContainer = document.getElementById("imagePreview");
        const previewImage = previewContainer.querySelector(".image-preview__image");
        const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

        inpFile.addEventListener("change", function () {
            const file = this.files[0];

            if (file) {
                const reader = new FileReader();

                previewDefaultText.style.display = "none";
                previewImage.style.display = "block";

                reader.addEventListener("load", function () {
                    console.log(this);
                    previewImage.setAttribute("src", this.result);
                });
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>

</html>