<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm dịch vụ</title>

    <th:block th:insert="~{roomtype :: link}"></th:block>
    <th:block th:insert="~{roomtype :: head/script}"></th:block>

    <link href="/css/hoststyle.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
<!--        <div id="spinner"-->
<!--            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
<!--            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">-->
<!--                <span class="sr-only">Loading...</span>-->
<!--            </div>-->
<!--        </div>-->
            

        <!-- Sidebar Start -->
        <div th:insert="~{hostpage :: div.fragment-1}"></div>         <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <div th:insert="~{hostpage :: div.fragment-1}"></div>             <!-- Navbar End -->




            <!-- Recent Sales Start -->
            <div class="container-fluid">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-8">
                        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <a href="index.html">
                                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>HOMETRO</h3>
                                </a>
                                <h3>Thêm dịch vụ</h3>
                            </div>
                            <form action="/api/v1/service/insert-type" method="post">
                                <div class="form-floating mb-4">
                                    <label>Tên dịch vụ </label>
                                    <input type="text" name="serviceName" class="form-control" placeholder="Tên dịch vụ">
                                </div>
                                <div class="form-floating mb-4">
                                    <label>Giá</label>
                                    <input type="text" name="price" class="form-control" placeholder="Giá">
                                </div>
<!--                                <div class="form-floating mb-4">-->
<!--                                    <select style="text-align: center;">-->
<!--                                        <option value="">Giá theo số lượng/tháng</option>-->
<!--                                        <option value="">Giá theo tháng</option>-->
<!--                                    </select>-->
<!--                                </div>-->
                                

                                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Xác nhận</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->



        </div>

    </div>

<!--    &lt;!&ndash; JavaScript Libraries &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>-->
<!--    <script src="lib/chart/chart.min.js"></script>-->
<!--    <script src="lib/easing/easing.min.js"></script>-->
<!--    <script src="lib/waypoints/waypoints.min.js"></script>-->
<!--    <script src="lib/owlcarousel/owl.carousel.min.js"></script>-->
<!--    <script src="lib/tempusdominus/js/moment.min.js"></script>-->
<!--    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>-->
<!--    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>-->

<!--    &lt;!&ndash; Template Javascript &ndash;&gt;-->
<!--    <script src="js/main.js"></script>-->

    
</body>

</html>