<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta th:replace="~{hostpage :: meta}">
    <title>Trang chính</title>
    <link th:replace="~{hostpage :: link}">
    <link rel="stylesheet" href="/richtext/richtext.min.css"/>
<!--    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->

</head>
<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Spinner Start -->
    <div th:replace="~{hostpage :: div#spinner}"></div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <div th:replace="~{hostpage :: div.sidebar}"></div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="~{hostpage :: nav.navbarfrag}"></nav>
        <!-- Phòng -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#myModal1">Thêm phòng</button>
                    <div class="modal" id="myModal1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Thêm phòng</h5>
                                    <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/api/v1/room/insert" method="post" enctype="multipart/form-data">
                                        <label for="floatingInput">Loại phòng</label>
                                        <div>
                                            <select id="floatingInput" name="typeId" style="text-align: center; width: 100px;">
                                                <option th:each="roomType : ${roomTypes}" th:value="${roomType?.typeId}" th:text="${roomType?.roomName}"></option>
                                            </select>
                                        </div>
                                        <div class="form-floating mb-4">
                                            <label>Số phòng</label>
                                            <input type="text" name="roomNumber" class="form-control" placeholder="Số phòng">
                                        </div>
                                        <div class="form-floating mb-4">
                                            <label>Hình ảnh</label>
                                            </br>
                                            <input type="file" name="image" id="inpFile">
                                            <div class="image-preview" id="imagePreview">
                                                <img src="" alt="Image Preview" class="image-preview__image">
                                                <span class="image-preview__default-text">Hình phòng</span>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-4">
                                            <label>Mô tả</label>
                                            <textarea class="form-control" id="describe" name="description"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal" id="myModal3">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Cập nhật phòng</h5>
                                    <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/api/v1/room/update}" method="post" enctype="multipart/form-data">

                                        <input type="hidden" name="roomId" th:value="${room?.roomId}" class="form-control">

                                        <div class="form-floating mb-4">
                                            <label>Số phòng</label>
                                            <input type="text" th:value="${room?.roomNumber}" name="roomNumber" class="form-control" placeholder="Số phòng">
                                        </div>


                                        <div class="form-floating mb-4">
                                            <label>Hình ảnh</label>
                                            </br>
                                            <input type="file" name="image" id="inpFile1">
                                            <div class="image-preview1" id="imagePreview1">
                                                <img src=""  width="50" height="50" alt="Image Preview" class="image-preview__image1" th:src="@{${'/api/v1/room/image/'+room?.roomId}}">
                                                <span class="image-preview__default-text1" >Hình phòng</span>
                                            </div>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <label>Mô tả</label>
                                            <textarea class="form-control" id="describe1" name="description" th:utext="${room?.description}"></textarea>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script th:inline="javascript">
                        $(document).ready(function(){
                            const queryString = window.location.search;
                            const urlParams = new URLSearchParams(queryString);
                            const updateRoom = urlParams.get('updateRoom')
                            if(updateRoom === 'true'){
                                $("#myModal3").modal('show');
                            } else{
                            }
                        });
                    </script>

                    <h6 class="mb-0">Tất cả phòng</h6>
                </div>
                <div class="table-responsive">
                    <input type="text" placeholder="Tìm kiếm mã phòng/loại phòng/chủ phòng/giá" id="myInput"
                           class="form-control"><br>
                    <table class="table text-start align-middle table-bordered table-hover mb-0" id="table1">
                        <thead>
                        <tr class="text-dark">
                            <th scope="col">ID phòng</th>
                            <th scope="col">Tên nhà trọ</th>
                            <th scope="col">Số phòng</th>
                            <th scope="col">Loại phòng</th>
                            <th scope="col">Người thuê phòng</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Tuỳ chọn</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr th:each="room : ${rooms}">
                                <td th:text="${room?.roomId}"></td>
                                <td th:text="${room?.roomTypeByTypeId.hostelByHostelId.hostelName}"></td>
                                <td th:text="${room?.roomNumber}"></td>
                                <td th:text="${room?.roomTypeByTypeId.roomName}"></td>
                                <td th:text="${room?.usersByUserId?.userName}? ${room?.usersByUserId.userName}:'Phòng trống'">

                                </td>
                                <td th:text="${#numbers.formatDecimal(room?.roomTypeByTypeId.price, 0, 'COMMA', 0, 'POINT')}"></td>
                                <td>
<!--                                    <select style="text-align: center;">-->
<!--                                        <option value="paid">Đã thanh toán</option>-->
<!--                                        <option value="unpaid">Chưa thanh toán</option>-->
<!--                                    </select>-->
                                    <img alt="" class="img-fluid" style="width: 100%"
                                         th:src="@{${'/api/v1/room/image/'+room?.roomId}}">
                                </td>
                                <td>
                                    <form>
                                    <input type="hidden" name="roomId" th:value="${room?.roomId}">
                                        <button type="submit"  th:formaction="@{/api/v1/room/{roomId}(roomId=${room?.roomId})}" class="btn btn-success fa-solid fa-file" title="Chi tiết phòng"></button>
                                    </form>
                                    <form th:action="@{/api/v1/room/delete}">
                                        <input type="hidden" name="roomId" th:value="${room?.roomId}">
                                        <button type="submit" class="btn  btn-danger fa-solid fa-trash" value="true"></button>
                                    </form>
                                    <form th:action="@{/api/v1/room}">
                                        <input type="hidden" name="updateRoomId" th:value="${room?.roomId}">
                                        <button class="btn btn-primary fa-solid fa-save" type="submit" name="updateRoom" value="true"></button>
                                    </form>
                                </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript Libraries -->
<th:block th:insert="~{hostpage :: script}"></th:block>
<script>
    $(document).ready(function () {
        $('#describe').richText();
        $('#describe1').richText();

        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
<script src="/richtext/jquery.richtext.min.js"></script>
<script>
    const inpFile = document.getElementById("inpFile1");
    const previewContainer = document.getElementById("imagePreview1");
    const previewImage = previewContainer.querySelector(".image-preview__image1");
    const previewDefaultText = previewContainer.querySelector(".image-preview__default-text1");

    inpFile.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            previewDefaultText.style.display = "none";
            previewImage.style.display = "block";

            reader.addEventListener("load", function () {
                console.log(this);
                previewImage.setAttribute("src", this.result);
            });
            reader.readAsDataURL(file);
        }
    });
</script>

</body>
</html>