<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricity Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="history.css">
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span>Hometro</span>
            </h3>
            <label for="sidebar-toggle" class="fa-solid fa-bars"></label>
        </div>

        <div class="sidebar-menu">
                <li>
                    <a href="hostpage.html ">
                        <span  class="fa-solid fa-house"></span>
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a href="services.html">
                        <span class="fa-solid fa-wifi"></span>
                        <span>Dịch vụ</span>
                    </a>
                </li>
                <li>
                    <a href="electricity.html">
                        <span class="fa-solid fa-bolt"></span>
                        <span>Chỉ số điện</span>
                    </a>
                </li>
                <li>
                    <a href="water.html">
                        <span class="fa-solid fa-water"></span>
                        <span>Chỉ số nước</span>
                    </a>
                </li>
                <li>
                    <a href="history.html">
                        <span class="fa-solid fa-clock-rotate-left"></span>
                        <span>Lịch sử</span>
                    </a>
                </li>
                <li>
                    <a href="contract.html">
                        <span class="fa-solid fa-file-contract"></span>
                        <span>Hợp đồng</span>
                    </a>
                </li>
                <li>
                    <a href="money.html">
                        <span class="fa-solid fa-money-bill"></span>
                        <span>Doanh thu</span>
                    </a>
                </li>
                
                <li>
                    <a href="account.html">
                        <span class="fa-solid fa-user"></span>
                        <span>Tài khoản</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="fa-solid fa-arrow-right-from-bracket"></span>
                        <span>Đăng xuất</span>
                    </a>
                </li>

        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="search-wrapper">
                <span class="fa-solid fa-magnifying-glass"></span>
                <input type="text" placeholder="Search">
            </div>
            <div class="social-icons">
                <span class="fa-solid fa-bell"></span>
                <span class="fa-solid fa-comment-alt"></span>
            </div>
        </header>


        <main>
            <div class="hostel-number">
                <form action="">
                    <button type="submit" class="btn btn-warning">Nhà trọ 1</button>
                    <button type="submit" class="btn btn-warning">Nhà trọ 2</button>
                </form>
            </div>

            <div class="head-table">
                <table class="table bg-white">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th>Phòng</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>01</td>
                            <td></td>
                            <td>
                                <form action="">
                                    <button class="btn btn-primary fa-solid fa-history"></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>

                    
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Phạm Phú Hưng</td>
                            <td>
                                <form action="">
                                    <button class="btn btn-primary fa-solid fa-history"></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Phạm Phú Hưng</td>
                            <td>
                                <form action="">
                                    <button class="btn btn-primary fa-solid fa-history"></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Phạm Phú Hưng</td>
                            <td>
                                <form action="">
                                    <button class="btn btn-primary fa-solid fa-history"></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </main>

    </div>
</body>
</html>