<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host page</title>
    <th:block th:insert="~{roomtype :: link}"></th:block>
    <th:block th:insert="~{roomtype :: head/script}"></th:block>
    <!-- Customized Bootstrap Stylesheet -->
<!--     <link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Template Stylesheet -->
    <link href="css/hoststyle.css" rel="stylesheet">

</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <!-- <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:insert="~{roomtype :: div.fragment-1}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:insert="~{roomtype :: div.fragment-2}"></div>
        <!-- Navbar End -->

        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <form action="/api/v1/hometro/addhostel">
                        <div>
                            <button class="btn btn-info">Thêm nhà trọ</button>
                        </div>
                    </form>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Danh sách phòng</h6>
                </div>
                <div class="table-responsive">
                    <input type="text" placeholder="Search..." id="myInput" class="form-control"/><br/>
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                        <tr class="text-dark">
                            <th scope="col">Id nhà trọ</th>
                            <th scope="col">Tên nhà trọ</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Số lượng loại phòng</th>
                            <th scope="col">Số lượng phòng</th>
                            <th scope="col">Tuỳ chọn</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr th:each="hostel: ${hostels}">
                            <form method="post">
                                <td th:text="${hostel.hostelId}"></td>
                                <td><input type="hidden" name="hostelId" th:value="${hostel.hostelId}">
                                    <input type="text" name="hostelName" th:value="${hostel.hostelName}"></td>
                                <td><input type="text" name="address" th:value="${hostel.address}"></td>
                                <td th:text="${#lists.size(hostel.roomTypesByHostelId)}"></td>
                                <td th:text="${hostel.roomNumber}"></td>
                                <td>
                                    <button formaction="/api/v1/hostel/update"
                                            class="btn btn-primary fa-solid fa-save"
                                    ></button>
                                    <button formaction="/api/v1/hostel/delete"
                                            class="btn btn-danger fa-solid fa-trash"
                                    ></button>
                                    <button
                                            class="btn btn-success fa-solid fa-file"
                                    ></button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->
</div>

<!-- JavaScript Libraries -->

<!-- Template Javascript -->

<!-- Required vendors -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>

</body>

</html>