<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host page</title>
    <th:block th:insert="~{roomtype :: link}"></th:block>
    <th:block th:insert="~{roomtype :: head/script}"></th:block>

    <!-- Customized Bootstrap Stylesheet -->
    <!--     <link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Template Stylesheet -->
    <link href="css/hoststyle.css" rel="stylesheet">
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <!-- <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="/api/v1/host/" class="navbar-brand mx-4 mb-3">
                <img style="height: 10rem;" src="/img/logo.png" alt=""> HOMETRO
            </a>
            <div class="navbar-nav w-100">
                <a href="/api/v1/host/" class="nav-item nav-link active"><i class="fa-solid fa-home me-2"></i>Trang
                    chính</a>
                <a href="/api/v1/RoomType/" class="nav-item nav-link"><i class="fa-solid fa-people-roof me-2"></i>Loại
                    phòng</a>
                <a href="/api/v1/hometro/roomcharge" class="nav-item nav-link"><i class="fa-solid fa-people-roof me-2"></i>Tiền
                    phòng</a>
                <a href="/api/v1/hometro/service" class="nav-item nav-link"><i class="fa fa-house-signal me-2"></i>Dịch vụ</a>
                <a href="/api/v1/hometro/electricity" class="nav-item nav-link"><i class="fa-solid fa-bolt me-2"></i>Chỉ số
                    điện</a>
                <a href="/api/v1/hometro/water" class="nav-item nav-link"><i class="fa-solid fa-droplet me-2"></i>Chỉ số
                    nước</a>
                <a href="/api/v1/hometro/invoice" class="nav-item nav-link"><i
                        class="fa-solid fa-clock-rotate-left me-2"></i>Hóa đơn</a>
                <a href="/api/v1/hometro/contract" class="nav-item nav-link"><i class="fa-solid fa-file-contract me-2"></i>Hợp
                    đồng</a>
                <a href="/api/v1/hometro/money" class="nav-item nav-link"><i class="fa-solid fa-sack-dollar me-2"></i>Doanh
                    thu</a>
                <div class="nav-item dropdown">
                    <a href="/api/v1/user/show-info" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" th:utext="${#session?.getAttribute('LOGIN_USER')} ? ${session.n+#session.getAttribute('LOGIN_USER').getUserName()}:${session.n+'Tài khoản'}"></a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="/api/v1/user/show-info" class="dropdown-item">Thông tin cá nhân</a>
                        <a href="/api/v1/user/logout" class="dropdown-item">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
<!--        <div th:insert="~{roomtype :: div.fragment-2}"></div>-->
        <!-- Navbar End -->

        <!-- Recent Sales Start -->
        <!-- Content Start -->
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0" style="height: 60px;">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
<!--                <form class="d-none d-md-flex ms-4 search" style="width: 370px;">-->
<!--                    <input class="form-control border-0" type="search" placeholder="Search">-->
<!--                </form>-->
                <a href="" style="padding-left: 55%;">
                    <h2><i class="fa-solid fa-bell"></i></h2>
                </a>
            </nav>

            <!-- Phòng -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form action="/api/v1/hometro/addroom">
                            <div>
                                <button class="btn btn-info">Thêm phòng</button>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Tất cả phòng</h6>
                        <p th:text="${message}"></p>
                    </div>
                    <div class="table-responsive">
                        <input type="text" name="roomNumber" placeholder="Search..." id="myInput" class="form-control">
                        <br>
                        <table class="table text-start align-middle table-bordered table-hover mb-0" id="table1">
                            <thead>
                            <tr class="text-dark">
                                <th scope="col">Số phòng</th>
                                <th scope="col">Loại phòng</th>
                                <th scope="col">Người thuê phòng</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Tuỳ chọn</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            <tr th:each="room : ${rooms}">
                                <form method="post" enctype="multipart/form-data">
                                    <td><input type="hidden" name="roomId" th:value="${room.roomId}">
                                        <input type="text" name="roomNumber" th:value="${room.roomNumber}"></td>
                                    <td>
                                        <select name="typeId" style="text-align: center;">
                                            <option th:selected="${roomType.typeId==room.roomTypeByTypeId.typeId}" th:each="roomType : ${roomTypes}" th:value="${roomType.typeId}" th:text="${roomType.roomName}"></option>
                                        </select>
                                    </td>
                                    <td th:text="${room.usersByUserId==null}?'Chưa có người thuê':${room.usersByUserId.userName}"></td>
                                    <td th:text="${#numbers.formatDecimal(room.roomTypeByTypeId.price, 0, 'COMMA', 0, 'POINT')}+'VNĐ'"></td>

                                    <td>
                                        <div class="image-preview-two" id="imagePreviewTwo">
                                            <img th:src="@{${'/api/v1/host/room/image/'+room.roomId}}" style="width: 50%" alt="Ảnh phòng" class="image-preview__image__2">
                                            <input type="file" name="image" id="inpFileTwo">
                                        </div>
                                    </td>
                                    <td>
                                        <button formaction="/api/v1/host/update" class="btn btn-primary fa-solid fa-save"></button>
                                        <button formaction="/api/v1/host/delete" class="btn  btn-danger fa-solid fa-trash"></button>
                                        <button formaction="" class="btn  btn-success fa-solid fa-file"></button>
                                    </td>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


    </div>
    <!-- Content End -->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>

</html>