<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room Type - Host</title>
</head>
<body>
    <p><a href="/api/v1/User/logout">Logout</a></p>
    <form action="/api/v1/Room/search" method="get">
        Room Name <input type="text" name="roomNumber" placeholder="Enter your room number" th:value="${roomNumber}">
        <button type="submit">Search</button>
    </form>
    <p th:text="${message}"></p>
    <table border="1">
        <tr>
            <th>Room ID</th>
            <th>Room Number</th>
            <th>User ID</th>
            <th>Hostel ID</th>
            <th>Type ID</th>
            <th>Image</th>
            <th>Operation</th>
            <th>Delete</th>
        </tr>
        <form action="/api/v1/Room/insert" enctype="multipart/form-data" method="post">
            <td><input type="text" value="roomId" readonly></td>
            <td><input type="text" name="newRoomNumber" placeholder="New room name..."></td>
            <td><input type="text" name="userId" th:value="${#session.getAttribute('LOGIN_USER').getUserId()}" readonly></td>
            <td><input type="text" name="hostelId" value="2" readonly></td>
            <td><input type="text" name="newTypeId" placeholder="New type id..."></td>
            <td><input type="file" name="newImage" placeholder="Choose image..."></td>
            <td><button type="submit">Insert</button></td>
            <td><button type="reset">Reset</button></td>
        </form>

        <tr th:each="room: ${rooms}">
            <form method="post" enctype="multipart/form-data">
                <td><input type="text" name="roomId" th:value="${room.roomId}"></td>
                <td><input type="text" name="roomNumber" th:value="${room.roomNumber}"></td>
                <td><input type="text" name="userId" th:value="${#session.getAttribute('LOGIN_USER').getUserId()}"></td>
                <td><input type="text" name="hostelId" th:value="${hostelId}"></td>
                <td><input type="text" name="typeId"  th:value="${room.typeId}" readonly></td>
                <td><input type="file" name="image"></td>
                <td><img style="width: 100px;" th:src="@{${'/api/v1/Room/image/'+room.roomId}}" th:alt="${room.roomId}"></td>
                <td><button formaction="/api/v1/Room/update" type="submit" name="update" value="Update">Update</button></td>
                <td><button formaction="/api/v1/Room/delete" type="submit" name="delete" value="Delete">Delete</button></td>
            </form>
        </tr>

    </table>
</body>
</html>