<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - Hostel</title>
</head>
<body>
    <h1>Home site</h1>
<p><a th:href="@{/api/v1/User/{name}(name=${#session?.getAttribute('LOGIN_USER')} ? 'showInfo':'login')}" th:text="${#session?.getAttribute('LOGIN_USER')} ? ${#session.getAttribute('LOGIN_USER').getUserName()}:'Login'"></a></p>
    <p><a href="/api/v1/Room/">Room</a></p>
    <p><a href="/api/v1/UtilityType/">UtilityType</a></p>
</body>
</html>