<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="api/v1/User/login" method="post">
        Hostel Id <input type="text" name="hostelId" value="1234" readonly>
        User Name <input type="text" name="userName" placeholder="Enter your user name..."><br>
        Password <input type="password" name="password" placeholder="Enter your password..."><br>
        <input type="checkbox" name="remember"> Remember me <br>
        <button type="submit">Login</button>
    </form>
    <p>Or Register <a th:href="@{'api/v1/User/register?hostelId='+${hostelId}}">Here</a>!</p>
</body>
</html>