<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta th:replace="~{index :: meta}">
    <title>HOMETRO</title>
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/Home-2.css" media="screen">
      <script class="u-script" type="text/javascript" src="/js/jquery-1.9.1.min.js" defer=""></script>
      <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
<!--        <div-->
<!--                id="spinner"-->
<!--                class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"-->
<!--        >-->
<!--            <div-->
<!--                    class="spinner-border text-primary"-->
<!--                    style="width: 3rem; height: 3rem"-->
<!--                    role="status"-->
<!--            >-->
<!--                <span class="sr-only">Loading...</span>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Spinner End -->

        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">Hometro</h1>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-envelope text-primary me-2"></i>
                                <p class="mb-0">hometro391@gmail.com</p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">+08428311448</p>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                                <a class="" href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="/" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">HOMETRO</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="/" class="nav-item nav-link">Trang chủ</a>
                                <a href="/api/v1/hometro/to-room" class="nav-item nav-link">Thuê phòng</a>
                               
                                </div>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Header End -->
        


        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(../static/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Đăng nhập</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="/api/v1/hometro/to-room">Thuê phòng</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        <div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="bg-white shadow" style="padding: 35px;">
                    <div class="row g-2">
                        <div class="col-md-8">
                            <div class="row g-2">
                                
                                <div class="col-md-6">
                                    <select class="form-select">
                                        <option selected>Quận</option>
                                        <option value="1">Quận 1</option>
                                        <option value="2">Quận 2</option>
                                        <option value="3">Quận 3</option>
                                        <option value="1">Quận 4</option>
                                        <option value="2">Quận 5</option>
                                        <option value="3">Quận 6</option>
                                        <option value="1">Quận 7</option>
                                        <option value="2">Quận 8</option>
                                        <option value="3">Quận 9</option>
                                        <option value="1">Quận 10</option>
                                        <option value="2">Quận 11</option>
                                        <option value="3">Quận 12</option>
                                        <option value="2">Quận Tân Bình</option>
                                        <option value="3">Quận Phú Nhuận</option>
                                        <option value="2">Quận Bình Tân</option>
                                        
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select">
                                        <option selected>Khoảng giá</option>
                                        <option value="1">Tất cả giá</option>
                                        <option value="2">Dưới 4tr</option>
                                        <option value="3">Từ 4tr-6tr</option>
                                        <option value="2">Trên 6tr</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary w-100">Tìm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-f0c7">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
              <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                  <div class="u-layout-row">
                   
                    <div class="u-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2" style="margin-left: 400px ;">
                      <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-text u-text-default u-text-1">Đăng nhập</h2>
                        <div class="u-expanded-width u-form u-login-control u-form-1">
                          <form action="/api/v1/user/login/auth" method="POST" class="u-clearfix u-form-custom-backend u-form-spacing-20 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 0px;">
                            <div class="u-form-group u-form-name">
                              <label for="username-a30d" class="u-label">Tên tài khoản *</label>
                              <input type="text" placeholder="Nhập tên tài khoản" id="username-a30d" name="userName" class="u-border-6 u-border-grey-10 u-grey-10 u-input u-input-rectangle u-input-1" required="">
                            </div>
                            <div class="u-form-group u-form-password">
                              <label for="password-a30d" class="u-label">Mật khẩu *</label>
                              <input type="password" placeholder="Nhập mật khẩu" id="password-a30d" name="password" class="u-border-6 u-border-grey-10 u-grey-10 u-input u-input-rectangle u-input-2" required="">
                            </div>
                            <div class="u-align-left u-form-group u-form-submit">
                              <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-palette-2-base u-btn-1">Đăng nhập</a>
                              <input type="submit" value="submit" class="u-form-control-hidden">
                            </div>
                              <p>Nếu chưa có tài khoản, vui lòng ĐĂNG KÍ <a href="/api/v1/user/register">TẠI ĐÂY!</a></p>
                            <input type="hidden" value="" name="recaptchaResponse">
                            
                            
                          </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


        

       

       

        <!-- Footer Start -->
        <footer class="section footer-classic context-dark bg-image" style="background: #03262c;">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5" style="margin-top:50px;">
                        <div class="pr-xl-4"><a class="brand" href="index.html"></a>
                            <p>HOMETRO.COM Phần mềm quản lý nhà trọ siêu cấp vip pro .</p>
                            <!-- Rights-->
                            <p class="rights"><span>©  </span><span
                                    class="copyright-year">2022</span><span> </span><span>Company</span><span>
                                    - </span><span>All rights reserved | This website is made with by HOMETRO</span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 style="color: white;">Địa chỉ</h5>
                        <dl class="contact-list">
                            <dt>Liên lạc:</dt>
                            <dd>Lô E2a-7, Đường D1 Khu Công nghệ cao, P.Long Thạnh Mỹ, TP Thủ Đức, TP.HCM</dd>
                        </dl>
                        <dl class="contact-list">
                            <dt>Email:</dt>
                            <dd><a href="mailto:#">hometro@email.com</a></dd>
                        </dl>
                        <dl class="contact-list">
                            <dt>Phones:</dt>
                            <dd><a href="tel:#">01234455667</a> <span>or</span> <a href="tel:#">8799712312</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4 col-xl-3">

                        <ul class="nav-list">
                            <li><a href="/">Trang chủ </a></li>
                            <li><a href="/api/v1/user/login">Đăng nhập </a></li>
                            <li><a href="dangki.html">Đăng kí </a></li>
                            <li><a href="/api/v1/hometro/to-room">Thuê phòng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <th:block th:insert="~{index :: script}"></th:block>
</body>

</html>