<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta th:replace="~{hostpage :: meta}">
    <title>Doanh thu</title>
    <link th:replace="~{hostpage :: link}">
</head>
<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{hostpage :: div#spinner}"></div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <div th:replace="~{hostpage :: div.sidebar}"></div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="~{hostpage :: nav.navbarfrag}"></nav>
        <!-- Navbar End -->
        <!-- Chart Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Doanh thu qua các tháng trong năm</h6>
                        <canvas id="line-chart"></canvas>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Pie Chart</h6>
                        <canvas id="pie-chart"></canvas>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- Chart End -->

    </div>
    <!-- Content End -->
</div>
<!-- JavaScript Libraries -->
<th:block th:insert="~{hostpage :: script}"></th:block>

<script th:inline="javascript">
    var x = [[${invoice.totalAmount}]];
    alert(x);

    var ctx3 = $("#line-chart").get(0).getContext("2d");
    var myChart3 = new Chart(ctx3, {
        type: "line",
        data: {
            for:
            labels: [6, 7, 8],
            datasets: [{
                label: "VNĐ",
                fill: false,
                backgroundColor: "rgba(0, 156, 255, .3)",
                data: [1000, 1000, 500]
            }]
        },
        options: {
            responsive: true
        }
    });
</script>


</body>

</html>