<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>HOMETRO | Thuê phòng</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Header Start -->
    <div class="container-fluid bg-dark px-0">
        <div class="row gx-0">
            <div class="col-lg-3 bg-dark d-none d-lg-block">
                <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <h1 class="m-0 text-primary text-uppercase">Hometro</h1>
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row gx-0 bg-white d-none d-lg-flex">
                    <div class="col-lg-7 px-5 text-start">
                        <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                            <i class="fa fa-envelope text-primary me-2"></i>
                            <p class="mb-0">hometro391@gmail.com</p>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2">
                            <i class="fa fa-phone-alt text-primary me-2"></i>
                            <p class="mb-0">+8428311448</p>
                        </div>
                    </div>
                    <div class="col-lg-5 px-5 text-end">
                        <div class="d-inline-flex align-items-center py-2">
                            <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                            <a class="" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                    <a href="/" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 text-primary text-uppercase">HOME TRO</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link">Trang chủ</a>

                            <a href="/api/v1/hometro/to-room" class="nav-item nav-link active">Thuê phòng</a>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Trang chủ</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="/api/v1/hometro/to-room">Thuê phòng</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Phòng</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Booking Start -->
    <div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="bg-white shadow" style="padding: 35px;">
                <div class="row g-2">
                    <form th:action="@{/api/v1/rentroom/list-room}">

                        <div class="col-md-8">
                            <div class="row g-2">
                                <div class="col-md-6">
                                    <select name="filterAddress" class="form-select">
                                        <option selected>Quận</option>
                                        <option >Quận 1</option>
                                        <option>Quận 2</option>
                                        <option>Quận 3</option>
                                        <option>Quận 4</option>
                                        <option>Quận 5</option>
                                        <option>Quận 6</option>
                                        <option>Quận 7</option>
                                        <option>Quận 8</option>
                                        <option>Quận 9</option>
                                        <option>Quận 10</option>
                                        <option>Quận 11</option>
                                        <option>Quận 12</option>
                                        <option>Quận Tân Bình</option>
                                        <option>Quận Phú Nhuận</option>
                                        <option>Quận Bình Tân</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-6">
                                        <label for="filterPrice1" class="form-label">Giá thấp nhất</label>
                                        <input name="filterPrice1" id="filterPrice1" type="number" class="form-control" placeholder="Giá" th:value="${#httpServletRequest.getParameter('filterPrice1')}" aria-label="Giá bắt đầu">
                                        <span class="input-group-text">Đến</span>
                                        <label for="filterPrice2" class="form-label">Giá cao nhất</label>
                                        <input name="filterPrice2" id="filterPrice2" type="number" class="form-control" placeholder="Giá" th:value="${#httpServletRequest.getParameter('filterPrice2')}" aria-label="Giá kết thúc">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary w-100">Tìm</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Booking End -->


    <!-- Room Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title text-center text-primary text-uppercase">HOMETRO</h6>
                <h1 class="mb-5">Khám phá mô hình <span class="text-primary text-uppercase">HOMETRO</span></h1>
            </div>
            <div class="row g-4">
                <div th:each="room: ${rooms}" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img alt="" class="img-fluid" style="width: 400px"
                                 th:src="@{${'/api/v1/room/image/'+room.roomId}}">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4" th:text="${room.roomTypeByTypeId.price}"></small>
                        </div>
                        <div class="p-4 mt-2">

                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0" th:text="${'Phòng số: '+room.roomNumber+'('+room.roomTypeByTypeId.roomName}+')'"></h5>
                                <div class="ps-2">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                            </div>

                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3" th:text="${room.roomTypeByTypeId.hostelByHostelId.address}"></p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-sm btn-primary rounded py-2 px-4" th:href="@{${'/api/v1/rentroom/'+room.roomId+'/info-room'}}">Xem phòng</a>
                                <a class="btn btn-sm btn-dark rounded py-2 px-4" th:href="@{${'/api/v1/booking/'+room.roomId}}">Đặt lịch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="...">
        <ul class="pagination">

            <li class="page-item">
                <a class="page-link" th:href="@{/api/v1/rentroom/list-room?(page=1, filterAddress=${#httpServletRequest.getParameter('filterAddress')}, filterPrice1=${#httpServletRequest.getParameter('filterPrice1')}, filterPrice2=${#httpServletRequest.getParameter('filterPrice2')})}">Trang đầu</a>
            </li>

            <th:block th:if="${page != 1}">
                <li class="page-item"><a class="page-link" th:href="@{/api/v1/rentroom/list-room?(page=${page-1}, filterAddress=${#httpServletRequest.getParameter('filterAddress')}, filterPrice1=${#httpServletRequest.getParameter('filterPrice1')}, filterPrice2=${#httpServletRequest.getParameter('filterPrice2')} )}" th:text="${page - 1}"></a></li>
            </th:block>

            <li class="page-item active" aria-current="page">
                <span class="page-link" th:text="${page}"></span>
            </li>

            <th:block th:if="${page < totalPage }">
                <li class="page-item"><a class="page-link" th:href="@{/api/v1/rentroom/list-room?(page=${page+1} , filterAddress=${#httpServletRequest.getParameter('filterAddress')}, filterPrice1=${#httpServletRequest.getParameter('filterPrice1')}, filterPrice2=${#httpServletRequest.getParameter('filterPrice2')})}" th:text="${page + 1}"></a></li>
            </th:block>

            <li class="page-item">
                <a class="page-link" th:href="@{/api/v1/rentroom/list-room?(page=${totalPage}, filterAddress=${#httpServletRequest.getParameter('filterAddress')}, filterPrice1=${#httpServletRequest.getParameter('filterPrice1')}, filterPrice2=${#httpServletRequest.getParameter('filterPrice2')} )}">Trang cuối</a>
            </li>
        </ul>
        </br>
        <p th:text="'Tổng số kết quả:   ' + ${totalItems} + ' - Tổng số trang: ' + ${totalPage}"></p>
    </nav>
    <!-- Room End -->


    <!-- Testimonial Start -->
    <div
            class="container-xxl testimonial my-5 py-5 bg-dark wow zoomIn"
            data-wow-delay="0.1s"
    >
        <div class="container">
            <div class="owl-carousel testimonial-carousel py-5">
                <div
                        class="testimonial-item position-relative bg-white rounded overflow-hidden"
                >
                    <p>
                        Chọn HOMETRO mình vừa tiết kiệm vừa có chỗ ở chất lượng không như các phòng trọ khác.
                    </p>
                    <div class="d-flex align-items-center">
                        <img
                                class="img-fluid flex-shrink-0 rounded"
                                src="/img/testimonial-1.jpg"
                                style="width: 45px; height: 45px"
                        />
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Phú Hưng</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                    <i
                            class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"
                    ></i>
                </div>
                <div
                        class="testimonial-item position-relative bg-white rounded overflow-hidden"
                >
                    <p>
                        Cảm ơn HOMETRO đã mang lại nơi ở tiện nghi, an ninh. Mình rất hài lòng về mọi thứ
                    </p>
                    <div class="d-flex align-items-center">
                        <img
                                class="img-fluid flex-shrink-0 rounded"
                                src="/img/testimonial-2.jpg"
                                style="width: 45px; height: 45px"
                        />
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Hoàng Long</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                    <i
                            class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"
                    ></i>
                </div>
                <div
                        class="testimonial-item position-relative bg-white rounded overflow-hidden"
                >
                    <p>
                        Nhờ HOMETRO mà mình có được một cuộc sống thỏa mái, có luôn đứa con và gia đình hạnh phúc
                    </p>
                    <div class="d-flex align-items-center">
                        <img
                                class="img-fluid flex-shrink-0 rounded"
                                src="/img/testimonial-3.jpg"
                                style="width: 45px; height: 45px"
                        />
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Minh Anh</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                    <i
                            class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"
                    ></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Footer Start -->
    <footer class="section footer-classic context-dark bg-image" style="background: #03262c;">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-4 col-xl-5" style="margin-top:50px;">
                    <div class="pr-xl-4"><a class="brand" href="index.html"></a>
                        <p>HOMETRO.COM Phần mềm quản lý nhà trọ siêu cấp vip pro .</p>
                        <!-- Rights-->
                        <p class="rights"><span>©  </span><span
                                class="copyright-year">2022</span><span> </span><span>Company</span><span>
                                    - </span><span>All rights reserved | This website is made with by HOMETRO</span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5 style="color: white;">Địa chỉ</h5>
                    <dl class="contact-list">
                        <dt>Liên lạc:</dt>
                        <dd>Lô E2a-7, Đường D1 Khu Công nghệ cao, P.Long Thạnh Mỹ, TP Thủ Đức, TP.HCM</dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>Email:</dt>
                        <dd><a href="mailto:#">hometro391@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>Phones:</dt>
                        <dd><a href="tel:#">0928311448</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 col-xl-3">

                    <ul class="nav-list">
                        <li><a href="/">Trang chủ </a></li>
                        <li><a href="/api/v1/user/login">Đăng nhập </a></li>
                        <li><a href="/api/v1/hometro/to-room">Thuê phòng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>

</body>

</html>