<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta th:replace="~{hostpage :: meta}">
    <title>Dịch vụ</title>
    <link th:replace="~{hostpage :: link}">
</head>
<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{hostpage :: div#spinner}"></div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <div th:replace="~{hostpage :: div.sidebar}"></div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="~{hostpage :: nav.navbarfrag}"></nav>
        <!-- Navbar End -->
        <!-- Table Start -->

        <div class="container-fluid pt-4 px-4">
            <div th:if="${messages != '' && messages != null}"><div th:text="${messages}" class="alert alert-primary" role="alert"> </div></div>
            <div th:if="${flashAttr != '' && flashAttr != null}"><div th:text="${flashAttr}" class="alert alert-primary" role="alert"> </div></div>

            <div class="d-flex align-items-center justify-content-between mb-4">
                <form>
                    <button th:each="hostel: ${hostels}" type="submit" th:text="${hostel?.hostelName}" th:formaction="${'/api/v1/service/hostel/'+hostel?.hostelId}" class="btn btn-warning"></button>
                </form>

                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#myModal3">Thêm dịch vụ</button>
                <div class="modal" id="myModal3">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Thêm dịch vụ</h5>
                                <button type="button"  class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">

                                <form id="formInsert" th:action="@{/api/v1/service/insert-type}" method="post">
                                    <input type="hidden" name="hostelId" th:value="${hostel?.hostelId}">

                                <div class="form-floating mb-4">
                                    <label>Tên dịch vụ</label>
                                    <input name="serviceName" type="text" class="form-control" placeholder="Tên dịch vụ">
                                </div>

                                <div class="form-floating mb-4">
                                    <label>Giá</label>
                                    <input name="price" type="text" class="form-control" placeholder="Giá">
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                                </div>
                            </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-sm-12 col-xl-4">
                    <div class="bg-light rounded h-100 p-4">
                        <div th:each="serviceType: ${serviceTypes}">
                            <form id="formUpdate"  method="post">
                            <h5 th:text="${serviceType.serviceName}"></h5>
                            <h6 th:text="'Giá: ' + ${serviceType.price}"> </h6>
                            <div>
                                <button type="button" class="btn btn-info fa-solid fa-edit" data-bs-toggle="modal" th:data-bs-target="'#myModalUpdate' + ${serviceType.serviceTypeId}"></button>
                                 <div class="modal" th:id="'myModalUpdate'+${serviceType.serviceTypeId}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5>Cập nhật dịch vụ</h5>
                                                <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input name="serviceTypeId" type="hidden" class="form-control" th:value="${serviceType.serviceTypeId}">
                                                <div class="form-floating mb-4">
                                                    <label>Tên dịch vụ</label>
                                                    <input name="serviceName" type="text" class="form-control" th:value="${serviceType.serviceName}">
                                                </div>

                                                <div class="form-floating mb-4">
                                                    <label>Giá: </label>
                                                    <input name="price" type="text" class="form-control" th:value="${serviceType.price}" min="1">
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit"  th:formaction="@{/api/v1/service/update-service-type}" class="btn btn-primary">Xác nhận</button>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <button th:formaction="@{/api/v1/service/delete-service-type}" class="btn  btn-danger fa-solid fa-trash"></button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br><br>
        <h6 class="mb-0" th:if="${utilityTypes != null}">Danh sách thiết yếu</h6>
        <div th:each="utilityType: ${utilityTypes}" class="card" style="width: 18rem;">
            <div class="card-body">
                <form th:action="@{/api/v1/utility-type/update}" method="post">
                <h5 class="card-title" th:text="${utilityType.utilityName}"></h5>
                <input type="hidden" name="utilityTypeId" th:value="${utilityType.utilityTypeId}">
                <input name="pricePerIndex" type="text" th:value="${utilityType.pricePerIndex}" class="form-control"  aria-describedby="button-addon2">
                <button class="btn btn-primary" type="submit" >Lưu</button>
                </form>
            </div>
        </div>

    </div>
    <!-- Content End -->
</div>
<!-- JavaScript Libraries -->




<th:block th:insert="~{hostpage :: script}"></th:block>
<script>

    $(document).ready(function () {
        var $btns = $('.btn').click(function () {
            if (this.id == 'all') {
                $('#services > tr').fadeIn(450);
            } else {
                var $el = $('.' + this.id).fadeIn(450);
                $('#services > tr').not($el).hide();
            }
            $btns.removeClass('active');
            $(this).addClass('active');
        })

        var $search = $("#search").on('input', function () {
            $btns.removeClass('active');
            var matcher = new RegExp($(this).val(), 'gi');
            $('.timkiem').show().not(function () {
                return matcher.test($(this).find('.tennhatro, .maphong').text())
            }).hide();
        })
    })
</script>
</body>
</html>