<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta th:replace="~{hostpage :: meta}">
  <title>Quản lý phòng</title>
  <link th:replace="~{hostpage :: link}">


</head>
<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
  <!-- Spinner Start -->
  <div th:replace="~{hostpage :: div#spinner}"></div>
  <!-- Spinner End -->
  <!-- Sidebar Start -->
  <div th:replace="~{hostpage :: div.sidebar}"></div>
  <!-- Sidebar End -->
  <!-- Content Start -->
  <div class="content">
    <!-- Navbar Start -->
    <nav th:replace="~{hostpage :: nav.navbarfrag}"></nav>
    <!-- Navbar End -->
    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
      <div class="bg-light rounded p-4">
        <div th:if="${flashAttr != '' && flashAttr != null}"><div th:text="${flashAttr}" class="alert alert-primary" role="alert"> </div></div>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <br><script src ="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
        <br><script src ="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js" defer></script>


        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Danh sách hoá đơn</h6>

          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#myModal16">Tạo hoá đơn</button>
          <div class="modal" id="myModal16">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Tạo hoá đơn</h5>
                  <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <form id="formInsert16" th:action="@{/api/v1/invoice/callBillByRoomId}" method="post">

                    <input type="hidden" name="roomId" th:value="${room?.roomId}">
                    <div class="form-floating mb-4">
                      <label for="invoiceName">Tên hoá đơn</label>
                      <input id="invoiceName" type="text" name="invoiceName">
                    </div>
                    <div class="form-floating mb-4">
                      <label for="note">Ghi chú</label>
                      <input id="note" type="text" name="note" >
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="modal" id="myModal17">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Cập nhật hoá đơn</h5>
                  <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <form id="formInsert17" th:action="@{/api/v1/roomcharge/update}" method="post">
                    <input type="hidden" name="roomChargeId" th:value="${roomCharge?.roomChargeId}">
                    <input type="hidden" name="roomId" th:value="${room?.roomId}">

                    <div class="form-floating mb-4">
                      <label>Ngày bắt đầu</label>
                      <input type="date" name="startDate" th:value="${roomCharge?.startDate}">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Ngày kết thúc</label>
                      <input type="date" name="endDate" th:value="${roomCharge?.endDate}">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Giá</label>
                      <input type="text" name="price" th:value="${roomCharge?.price}" style="text-align: center; width: 100px;">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="table-responsive text-center">
          <table id="table6" class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
            <tr class="text-dark">
              <th scope="col">ID</th>
              <th scope="col">Tên hoá đơn</th>
              <th scope="col">Khách hàng</th>
              <th scope="col">Tổng tiền</th>
              <th scope="col">Ghi chú</th>
              <th scope="col">Ngày tạo</th>
              <th scope="col">Trạng thái tt</th>
              <th scope="col">Ngày thanh toán</th>
              <th scope="col">Tuỳ chọn</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="invoice: ${invoices}">
              <td th:text="${invoice?.invoiceId}"></td>
              <td th:text="${invoice?.invoiceName}"></td>
              <td th:text="${invoice?.usersByUserId?.fullName}"></td>
              <td th:text="${invoice?.totalAmount}"></td>
              <td th:text="${invoice?.note}"></td>
              <td th:text="${invoice?.invoiceCreateDate}"></td>
              <td th:text="${invoice?.paymentStatus} == true ? 'Đã thanh toán' : 'Chưa thanh toán'"></td>
              <td th:text="${invoice?.paymentDate != null ? invoice?.paymentDate : 'Chưa thanh toán'}"></td>

              <td>
                2 cái nút
<!--                <form th:action="@{/api/v1/room/{roomId}(roomId=${room?.roomId})}">-->
<!--                  <input type="hidden" name="updateRoomChargeId" th:value="${roomCharge?.roomChargeId}">-->
<!--                  <button type="submit" name="updateRoomCharge" value="true">CHƯA BẤM DC</button>-->
<!--                </form>-->
<!--                <form th:action="@{/api/v1/roomcharge/delete}" method="post">-->
<!--                  <input type="hidden" name="roomChargeId" th:value="${roomCharge?.roomChargeId}">-->
<!--                  <button type="submit" name="deleteRoomCharge" value="true">Xoá</button>-->
<!--                </form>-->
            </tr>
            </tbody>
          </table>
        </div>


        <!--TIỀN PHÒNG-->
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Danh sách tiền phòng</h6>

          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#myModal14">TEST Thêm tiền phòng sử dụng</button>
          <div class="modal" id="myModal14">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Thêm tiền phòng sử dụng</h5>
                  <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <form id="formInsert14" th:action="@{/api/v1/roomcharge/insert}" method="post">

                    <input type="hidden" name="roomId" th:value="${room?.roomId}">
                    <div class="form-floating mb-4">
                      <label>Ngày bắt đầu</label>
                      <input type="date" name="startDate">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Ngày kết thúc</label>
                      <input type="date" name="endDate" >
                    </div>

                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!--MODAL TIEN PHONG-->
          <div class="modal" id="myModal15">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Cập nhật tiền phòng sử dụng</h5>
                  <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <form id="formInsert15" th:action="@{/api/v1/roomcharge/update}" method="post">
                    <input type="hidden" name="roomChargeId" th:value="${roomCharge?.roomChargeId}">
                    <input type="hidden" name="roomId" th:value="${room?.roomId}">

                    <div class="form-floating mb-4">
                      <label>Ngày bắt đầu</label>
                      <input type="date" name="startDate" th:value="${roomCharge?.startDate}">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Ngày kết thúc</label>
                      <input type="date" name="endDate" th:value="${roomCharge?.endDate}">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Giá</label>
                      <input type="text" name="price" th:value="${roomCharge?.price}"  style="text-align: center; width: 100px;">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--KET THUC MODAL TIEN PHONG-->


        <!--BẢNG TIỀN PHÒNG-->
        <div class="table-responsive text-center">
          <table id="table5" class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
            <tr class="text-dark">
              <th scope="col">Ngày bắt đầu</th>
              <th scope="col">Ngày kết thúc</th>
              <th scope="col">Tổng tiền</th>
              <th scope="col">Hoá đơn</th>
              <th scope="col">Tuỳ chọn</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="roomCharge: ${roomCharges}">
              <td th:text="${roomCharge?.startDate}"></td>
              <td th:text="${roomCharge?.endDate}"></td>
              <td th:text="${roomCharge?.price}"></td>
              <td>
                <span th:text="${roomCharge?.invoiceByInvoiceId != null ? roomCharge?.invoiceByInvoiceId?.InvoiceId + ' -  ' + roomCharge?.invoiceByInvoiceId?.InvoiceName : '[Chưa xuất hoá đơn]'}"></span>
                <span th:if="${roomCharge?.invoiceByInvoiceId?.paymentStatus}"><i class="fa fa-check" aria-hidden="true"></i></span>
              </td>
              <td>
                <form th:action="@{/api/v1/room/{roomId}(roomId=${room?.roomId})}">
                  <input type="hidden" name="updateRoomChargeId" th:value="${roomCharge?.roomChargeId}">
                  <button type="submit" name="updateRoomCharge" value="true">Cập nhật</button>
                </form>
                <form th:action="@{/api/v1/roomcharge/delete}" method="post">
                  <input type="hidden" name="roomChargeId" th:value="${roomCharge?.roomChargeId}">
                  <button type="submit" name="deleteRoomCharge" value="true">Xoá</button>
                </form>
            </tr>
            </tbody>
          </table>
        </div>
        <!--//KẾT THÚC TIỀN PHÒNG-->


        <!--//TIỆN ÍCH-->
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Danh sách tiện ích sử dụng</h6>
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#myModal1">Thêm tiện ích sử dụng</button>
          <div class="modal" id="myModal1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Thêm tiện ích sử dụng</h5>
                  <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <form id="formInsert" th:action="@{/api/v1/used-utility/insert}" method="post">
                    <label for="floatingInput">Loại tiện ích</label>
                    <div>
                      <select class="form-select" id="floatingInput" name="utilityTypeId" style="text-align: center; width: 100px;">
                        <option th:each="ultilityType : ${room?.roomTypeByTypeId?.hostelByHostelId?.utilityTypesByHostelId}" th:value="${ultilityType?.utilityTypeId}" th:text="${ultilityType?.utilityName}"></option>
                      </select>
                    </div>
                    <input type="hidden" name="roomId" th:value="${room.roomId}">
                    <div class="form-floating mb-4">
                      <label>Ngày bắt đầu</label>
                      <input type="date" name="startDate">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Ngày kết thúc</label>
                    <input type="date" name="endDate" >
                    </div>
                    <div class="form-floating mb-4">
                      <label>Chỉ số cũ</label>
                    <input type="text" name="oldIndex" style="text-align: center; width: 100px;">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Chỉ số mới</label>
                    <input type="text" name="newIndex" style="text-align: center; width: 100px;">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

<!--          MODEL CAP NHAT TIEN ICH-->
          <div class="modal" id="myModal2">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Cập nhật tiện ích sử dụng</h5>
                  <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <form id="formInsert7" th:action="@{/api/v1/used-utility/update}" method="post">
                    <label for="floatingInput">Loại tiện ích</label>
                    <div>
                      <select class="form-select" id="floatingInput7" name="utilityTypeId" style="text-align: center; width: 100px;">
                        <option th:each="ultilityType : ${room?.roomTypeByTypeId?.hostelByHostelId?.utilityTypesByHostelId}"  th:value="${ultilityType?.utilityTypeId}" th:text="${ultilityType?.utilityName}" th:selected="${ultilityType?.utilityTypeId==usedUtility?.utilityTypeId}"></option>
                      </select>
                    </div>
                    <input type="hidden" name="usedUtilityId" th:value="${usedUtility?.usedUtilityId}">
                    <div class="form-floating mb-4">
                      <label>Ngày bắt đầu</label>
                      <input type="date" name="startDate" th:value="${usedUtility?.startDate}">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Ngày kết thúc</label>
                      <input type="date" name="endDate" th:value="${usedUtility?.endDate}">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Chỉ số cũ</label>
                      <input type="text" name="oldIndex" th:value="${usedUtility?.oldIndex}"  style="text-align: center; width: 100px;">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Chỉ số mới</label>
                      <input type="text" name="newIndex" th:value="${usedUtility?.newIndex}" style="text-align: center; width: 100px;">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Giá/chỉ số</label>
                      <input type="text" name="pricePerIndex" th:value="${usedUtility?.pricePerIndex}" style="text-align: center; width: 100px;">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        <!--KET THUC MODEL CAP NHAT TIEN ICH-->
        </div>


        <!--//BẢNG TIỆN ÍCH-->
        <div class="table-responsive text-center" style="overflow: hidden; white-space: nowrap;">
            <table id="table1" class="table text-start align-middle table-bordered table-hover mb-0">
              <thead>
              <tr class="text-dark">
                <th scope="col">Tên tiện ích</th>
                <th scope="col">Ngày bắt đầu</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Chỉ số cũ</th>
                <th scope="col">Chỉ số mới</th>
                <th scope="col">Sử dụng</th>
                <th scope="col">Giá/chỉ số(VNĐ)</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Hoá đơn</th>
                <th scope="col">Tuỳ chọn</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="utility: ${usedUtilities}">
               <td th:text="${utility?.utilityTypeByUtilityTypeId?.utilityName}"></td>
               <td th:text="${utility?.startDate}"></td>
               <td th:text="${utility?.endDate}"></td>
               <td th:text="${utility?.oldIndex}"></td>
               <td th:text="${utility?.newIndex}"></td>
               <td th:text="${utility?.newIndex - utility?.oldIndex}"></td>
               <td th:text="${utility?.pricePerIndex}"></td>
               <td th:text="${utility?.pricePerIndex * (utility?.newIndex - utility?.oldIndex)}"></td>
               <td>
                 <span th:text="${utility?.invoiceByInvoiceId != null ? utility?.invoiceByInvoiceId?.InvoiceId + ' -  ' + utility?.invoiceByInvoiceId?.InvoiceName : '[Chưa xuất hoá đơn]'}"></span>
                 <span th:if="${utility?.invoiceByInvoiceId?.paymentStatus}"><i class="fa fa-check" aria-hidden="true"></i></span>
               </td>
                <td>
                  <form th:action="@{/api/v1/room/{roomId}(roomId=${room?.roomId})}">
                    <input type="hidden" name="updateUsedUtilityId" th:value="${utility?.usedUtilityId}">
                    <button type="submit" name="updateUsedUtility" value="true">Cập nhật</button>
                  </form>
                  <form th:action="@{/api/v1/used-utility/delete}" method="post">
                    <input type="hidden" name="usedUtilityId" th:value="${utility?.usedUtilityId}">
                    <button type="submit" name="deleteUsedUtility" value="true">Xoá</button>
                  </form>
              </tr>
              </tbody>
            </table>
        </div>

          <!--//DỊCH VỤ-->
          <br><br>
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Danh sách dịch vụ sử dụng</h6>
              <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#myModal3">Thêm dịch vụ sử dụng</button>
              <div class="modal" id="myModal3">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Thêm dịch vụ sử dụng</h5>
                      <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <form id="formInsert2" th:action="@{/api/v1/service/insert-used-service}" method="post">
                        <label for="floatingInput">Loại dịch vụ</label>
                        <div>
                          <select class="form-select" name="servicetypeId" style="text-align: center; width: 100px;">
                            <option th:each="serviceType : ${room?.roomTypeByTypeId?.hostelByHostelId?.serviceTypesByHostelId}" th:value="${serviceType?.serviceTypeId}" th:text="${serviceType?.serviceName}"></option>
                          </select>
                        </div>
                        <input type="hidden" name="roomId" th:value="${room.roomId}">
                        <div class="form-floating mb-4">
                          <label>Ngày bắt đầu</label>
                          <input type="date" name="startDate" >
                        </div>
                        <div class="form-floating mb-4">
                          <label>Ngày kết thúc</label>
                          <input type="date" name="endDate" >
                        </div>
                        <div class="form-floating mb-4">
                          <label>Số lượng sử dụng</label>
                          <input type="number" name="usedQuantity"  style="text-align: center; width: 100px;">
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="modal" id="myModal4">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Cập nhật dịch vụ sử dụng</h5>
                  <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <form id="formInsert3" th:action="@{/api/v1/service/update-used-service}" method="post">
                    <label for="floatingInput">Loại dịch vụ</label>
                    <div>
                      <select class="form-select" name="servicetypeId" style="text-align: center; width: 100px;">
                        <option th:each="serviceType : ${room?.roomTypeByTypeId?.hostelByHostelId?.serviceTypesByHostelId}" th:value="${serviceType?.serviceTypeId}" th:text="${serviceType?.serviceName}" th:selected="${serviceType?.serviceTypeId==usedService?.servicetypeId}"></option>
                      </select>
                    </div>
                    <input type="hidden" name="usedServiceId" th:value="${usedService?.usedServiceId}">
                    <div class="form-floating mb-4">
                      <label>Ngày bắt đầu</label>
                      <input type="date" name="startDate" th:value="${usedService?.startDate}">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Ngày kết thúc</label>
                      <input type="date" name="endDate" th:value="${usedService?.endDate}">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Số lượng sử dụng</label>
                      <input type="number" name="usedQuantity" th:value="${usedService?.usedQuantity}" style="text-align: center; width: 100px;">
                    </div>
                    <div class="form-floating mb-4">
                      <label>Giá</label>
                      <input type="text" name="price" th:value="${usedService?.price}">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive text-center" style="overflow: hidden; white-space: nowrap;">
            <table id="table2"  class="table text-start align-middle table-bordered table-hover mb-0">
              <thead>
              <tr class="text-dark">
                <th scope="col">Tên dịch vụ</th>
                <th scope="col">Ngày bắt đầu</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Sử dụng</th>
                <th scope="col">Giá(VNĐ)</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Hoá đơn</th>
                <th scope="col">Tuỳ chọn</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="service: ${usedServices}">
                <td th:text="${service?.serviceTypeByServicetypeId?.serviceName}"></td>
                <td th:text="${service?.startDate}"></td>
                <td th:text="${service?.endDate}"></td>
                <td th:text="${service?.usedQuantity}"></td>
                <td th:text="${service?.price}"></td>
                <td th:text="${service?.price * service?.usedQuantity}"></td>
                <td>
                  <span th:text="${service?.invoiceByInvoiceId != null ? service?.invoiceByInvoiceId?.InvoiceId + ' -  ' + service?.invoiceByInvoiceId?.InvoiceName : '[Chưa xuất hoá đơn]'}"></span>
                  <span th:if="${service?.invoiceByInvoiceId?.paymentStatus}"><i class="fa fa-check" aria-hidden="true"></i></span>
                </td>

                <td><form th:action="@{/api/v1/room/{roomId}(roomId=${room?.roomId})}">
                  <input type="hidden" name="updateUsedServiceId" th:value="${service?.usedServiceId}">
                  <button type="submit" name="updateUsedService" value="true">Cập nhật</button>
                </form>

                  <form th:action="@{/api/v1/service/delete-service}" method="post">
                    <input type="hidden" name="usedServiceId" th:value="${service?.usedServiceId}">
                    <button type="submit" name="deleteUsedService" value="true">Xoá</button>
                  </form></td>
              </tr>
              </tbody>
            </table>
            <br><br>
          </div>
            <!--//KẾT THÚC DỊCH VỤ-->

            <!--//HỢP ĐỒNG-->
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Danh sách hợp đồng</h6>
              <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#myModal6">Tạo hợp đồng</button>

              <!--MODEL THEM HOP DONG-->
              <div class="modal" id="myModal6">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Thêm hợp đồng </h5>
                      <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <form id="formInsert6" th:action="@{/api/v1/contract/createContract}" method="post">
                        <input type="hidden" name="roomId" th:value="${room.roomId}">

                        <div class="form-floating mb-4">
                          <label for="startDate">Ngày bắt đầu</label>
                          <input id="startDate" type="date" name="startDate" th:value="${usedService?.startDate}">
                        </div>

                        <div class="form-floating mb-4">
                          <label for="endDate">Ngày kết thúc</label>
                          <input id="endDate" type="date" name="endDate" th:value="${usedService?.endDate}">
                        </div>

                        <div class="form-floating mb-4">
                          <label for="userInfo">SDT hoặc Email hoặc CMND khách hàng:</label>
                          <input id="userInfo" type="text" name="userInfo">
                        </div>

                        <div class="form-floating mb-4">
                          <label for="deposit">Tiền cọc</label>
                          <input id="deposit" type="text" name="deposit" th:value="${room.roomTypeByTypeId.depositPrice}">
                        </div>

                        <label for="floatingInput8">Trạng thái tiền cọc</label>
                        <div>
                          <select id="floatingInput8" class="form-select" name="depositPaymentStatus" style="text-align: center; width: 100px;">
                            <option value="false" selected>Chưa thanh toán cọc</option>
                            <option value="true">Đã thanh toán cọc</option>
                          </select>
                        </div>

                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            <!--KET THUC MODEL THEM HOP DONG-->
            </div>

        <div class="modal" id="myModal5">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Cập nhật hợp đồng (chưa dùng dc)</h5>
                <button type="button" class="btn fa-solid fa-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <form id="formInsert4" th:action="@{/api/v1/service/update-used-service}" method="post">
                  <label for="floatingInput4">Loại dịch vụ</label>
                  <div>
                    <select id="floatingInput4" class="form-select" name="servicetypeId" style="text-align: center; width: 100px;">
                      <option th:each="serviceType : ${room?.roomTypeByTypeId?.hostelByHostelId?.serviceTypesByHostelId}" th:value="${serviceType?.serviceTypeId}" th:text="${serviceType?.serviceName}" th:selected="${serviceType?.serviceTypeId==usedService?.servicetypeId}"></option>
                    </select>
                  </div>
                  <input type="hidden" name="usedServiceId" th:value="${usedService?.usedServiceId}">
                  <div class="form-floating mb-4">
                    <label>Ngày bắt đầu</label>
                    <input type="date" name="startDate" th:value="${usedService?.startDate}">
                  </div>
                  <div class="form-floating mb-4">
                    <label>Ngày kết thúc</label>
                    <input type="date" name="endDate" th:value="${usedService?.endDate}">
                  </div>
                  <div class="form-floating mb-4">
                    <label>Số lượng sử dụng</label>
                    <input type="number" name="usedQuantity" th:value="${usedService?.usedQuantity}" style="text-align: center; width: 100px;">
                  </div>
                  <div class="form-floating mb-4">
                    <label>Giá</label>
                    <input type="text" name="price" th:value="${usedService?.price}">
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

<!--        BANG HOP DONG-->
        <div class="table-responsive text-center">
              <table id="table3" class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                <tr class="text-dark">
                  <th scope="col">ID</th>
                  <th scope="col">Tên khách hàng</th>
                  <th scope="col">SĐT</th>
                  <th scope="col">Email</th>
                  <th scope="col">CMND/CCCD</th>
                  <th scope="col">Ngày bắt đầu</th>
                  <th scope="col">Ngày kết thúc</th>
                  <th scope="col">Tiền cọc</th>
                  <th scope="col">T/t cọc</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Ngày tạo</th>
                  <th scope="col">Ngày thanh lý</th>
                  <th scope="col">Tuỳ chọn</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contract: ${contracts}">
                  <td th:text="${contract?.contractId}"></td>
                  <td th:text="${contract?.usersByUserId?.fullName}"></td>
                  <td th:text="${contract?.usersByUserId?.phone}"></td>
                  <td th:text="${contract?.usersByUserId?.email}"></td>
                  <td th:text="${contract?.usersByUserId?.documentId}"></td>
                  <td th:text="${contract?.startDate}"></td>
                  <td th:text="${contract?.endDate}"></td>
                  <td th:text="${contract?.deposit}"></td>
                  <td th:text="${contract?.depositPaymentStatus} == true ? 'Đã đóng' : 'Chưa đóng'"></td>
                  <td th:text="${contract?.contractStatus} == true ? 'Đã xác nhận' : 'Chờ k/h xác nhận'"></td>
                  <td th:text="${contract?.createContractTime}"></td>
                  <td th:text="${contract?.contractLiquidationTime} == null ? '[Chưa]' : ${contract?.contractLiquidationTime}"></td>

                  <td>
                    <form th:action="@{/api/v1/contract/liquidationContract}" method="post">
                  <input type="hidden" name="contractId" th:value="${contract?.contractId}">
                  <button type="submit">Thanh lý</button>
                  </form>
                  <form th:action="@{/api/v1/contract/deleteContract}" method="post">
                    <input type="hidden" name="contractId" th:value="${contract?.contractId}">
                    <button type="submit">Xoá</button>
                  </form>
                  </td>
                </tr>
                </tbody>
              </table>
        </div>
<!--        KET THUC BANG HOP DONG-->






      </div>
    </div>
  </div>
</div>




<!-- JavaScript Libraries -->
    <script th:inline="javascript">
      $(document).ready(function(){
        const queryString = window.location.search;

        const urlParams = new URLSearchParams(queryString);

        const updateUsedUtility = urlParams.get('updateUsedUtility')
        const updateUsedService = urlParams.get('updateUsedService')
        const updateRoomCharge = urlParams.get('updateRoomCharge')

        if(updateUsedUtility === 'true'){
          $("#myModal2").modal('show');
        }else if(updateUsedService === 'true'){
          $("#myModal4").modal('show');
        }else if(updateRoomCharge === 'true'){
          $("#myModal15").modal('show');
        } else {

        }
        $('#table1').DataTable();
        $('#table2').DataTable();
        $('#table3').DataTable();
      });
    </script>


<th:block th:insert="~{hostpage :: script}"></th:block>



</body>
</html>