<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>HOMETRO | Thuê phòng</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicon -->
  <link href="/img/favicon.ico" rel="icon" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap"
          rel="stylesheet"
  />

  <!-- Icon Font Stylesheet -->
  <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet"
  />
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
          rel="stylesheet"
  />

  <!-- Libraries Stylesheet -->
  <link href="/lib/animate/animate.min.css" rel="stylesheet" />
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
  <link
          href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          rel="stylesheet"
  />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="container-xxl bg-white p-0">
  <!-- Spinner Start -->
  <div
          id="spinner"
          class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div
            class="spinner-border text-primary"
            style="width: 3rem; height: 3rem"
            role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->

  <!-- Header Start -->
  <div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
      <div class="col-lg-3 bg-dark d-none d-lg-block">
        <a
                href="/"
                class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center"
        >
          <h1 class="m-0 text-primary text-uppercase">Hometro</h1>
        </a>
      </div>
      <div class="col-lg-9">
        <div class="row gx-0 bg-white d-none d-lg-flex">
          <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
              <i class="fa fa-envelope text-primary me-2"></i>
              <p class="mb-0">hometro391@gmail.com</p>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-2">
              <i class="fa fa-phone-alt text-primary me-2"></i>
              <p class="mb-0">+84928311448</p>
            </div>
          </div>
          <div class="col-lg-5 px-5 text-end">
            <div class="d-inline-flex align-items-center py-2">
              <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
              <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
              <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
              <a class="" href=""><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
          <a href="/" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-primary text-uppercase">Hometro</h1>
          </a>
          <button
                  type="button"
                  class="navbar-toggler"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
                  class="collapse navbar-collapse justify-content-between"
                  id="navbarCollapse"
          >
            <div class="navbar-nav mr-auto py-0">
              <a href="/" class="nav-item nav-link">Trang chủ</a>

              <a href="/api/v1/hometro/to-room" class="nav-item nav-link active"
              >Thuê phòng</a
              >
            </div>
          </div>
          <div class="navbar-nav mr-auto py-0">
            <a href="/api/v1/user/show-info" class="nav-item nav-link"
            ><img
                    src="/img/person%20(1).png"
                    alt=""
                    width="40px"
                    height="40px"
            /></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Header End -->

  <!-- Page Header Start -->
  <div
          class="container-fluid page-header mb-5 p-0"
          style="background-image: url(../static/img/carousel-1.jpg)"
  >
    <div class="container-fluid page-header-inner py-5">
      <div class="container text-center pb-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">
          Infomation
        </h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center text-uppercase">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li
                    class="breadcrumb-item text-white active"
                    aria-current="page"
            >
              User Detail
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Page Header End -->
  <div class="d-flex justify-content-sm-around bd-highlight">
    <div class="d-flex align-items-start flex-column p-2 bd-highlight">
      <!-- <div class="navbar-nav mr-auto py-0">infomation</div> -->
      <a href="/api/v1/user/show-info" class="link-warning">Thông tin</a>
      <a href="/api/v1/hometro/history-invoice" class="link-secondary"
      >Lịch sử hóa đơn</a
      >
      <a href="/api/v1/hometro/view-contract" class="link-secondary">Xem Hợp Đồng</a>
    </div>
    <div style="margin-left: 10px" class="p-2 flex-grow-1 bd-highlight">
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
          <th>User Infomation</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <form method="post">
          <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">User Name</p>
                </div>
              </div>
            </td>
            <td>
              <div class="form-outline">
                <input
                        type="text"
                        id="form12"
                        name="userName"
                        class="form-control"
                        th:value="${userLogin.userName}"
                />
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">Full Name</p>
                </div>
              </div>
            </td>
            <td>
              <div class="form-outline">
                <input
                        type="text"
                        id="form12"
                        name="fullName"
                        class="form-control"
                        th:value="${userLogin.fullName}"
                />
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">Phone</p>
                </div>
              </div>
            </td>
            <td>
              <div class="form-outline">
                <input
                        type="text"
                        id="form12"
                        name="phone"
                        class="form-control"
                        th:value="${userLogin.phone}"
                />
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">Email</p>
                </div>
              </div>
            </td>
            <td>
              <div class="form-outline">
                <input
                        type="email"
                        id="typeEmail"
                        name="email"
                        class="form-control"
                        th:value="${userLogin.email}"
                />
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">Document ID</p>
                </div>
              </div>
            </td>
            <td>
              <div class="form-outline">
                <input
                        type="text"
                        id="typeEmail"
                        name="documentId"
                        class="form-control"
                        th:value="${userLogin.documentId}"
                />
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">Gender</p>
                </div>
              </div>
            </td>
            <td>
              <div th:switch="${userLogin.gender}">
                <div class="form-outline" th:case="true">
                  <label for="male" class="radio-inline"><input type="radio" class="form-control" id="male" checked name="gender" value="Male">Nam</label>

                  <label for="female" class="radio-inline"><input type="radio" class="form-control" id="female" name="gender" value="Female">Nữ</label>
                </div>
                <div class="form-outline" th:case="false">
                  <label for="male" class="radio-inline"><input type="radio" class="form-control" id="male" name="gender" value="Male">Nam</label>

                  <label for="female" class="radio-inline"><input type="radio" class="form-control" id="female" checked name="gender" value="Female">Nữ</label>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">Date of birth</p>
                </div>
              </div>
            </td>
            <td>
              <div class="form-outline">
                <input
                        type="date"
                        id="typeDate"
                        name="dateOfBirth"
                        class="form-control"
                        th:value="${userLogin.dateOfBirth}"
                />
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button
                      type="submit"
                      class="btn btn-light"
                      data-mdb-ripple-color="dark"
              >
                Change Password
              </button>
            </td>
            <td>
              <button type="submit" formaction="/api/v1/user/update" class="btn btn-danger">Save</button>
            </td>
            <td>
              <button type="submit" formaction="/api/v1/user/logout" class="btn btn-danger">Đăng xuất</button>
            </td>
          </tr>
          </tbody>
        </form>
      </table>
    </div>
  </div>


  <!-- Footer Start -->
  <footer
          class="section footer-classic context-dark bg-image"
          style="background: #03262c"
  >
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5" style="margin-top: 50px">
          <div class="pr-xl-4">
            <a class="brand" href="index.html"></a>
            <p>HOMETRO.COM Phần mềm quản lý nhà trọ siêu cấp vip pro .</p>
            <!-- Rights-->
            <p class="rights">
              <span>©  </span><span class="copyright-year">2022</span
            ><span> </span><span>Company</span><span> - </span
            ><span
            >All rights reserved | This website is made with by
                    HOMETRO</span
            >
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h5 style="color: white">Địa chỉ</h5>
          <dl class="contact-list">
            <dt>Liên lạc:</dt>
            <dd>
              Lô E2a-7, Đường D1 Khu Công nghệ cao, P.Long Thạnh Mỹ, TP Thủ
              Đức, TP.HCM
            </dd>
          </dl>
          <dl class="contact-list">
            <dt>Email:</dt>
            <dd><a href="mailto:#">hometro391@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>Phones:</dt>
            <dd>
              <a href="tel:#">0932311448</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <ul class="nav-list">
            <li><a href="/">Trang chủ </a></li>
            <li><a href="/api/v1/user/login">Đăng nhập </a></li>
            <li><a href="dangki.html">Đăng kí </a></li>
            <li><a href="/api/v1/hometro/to-room">Thuê phòng</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
  ><i class="bi bi-arrow-up"></i
  ></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>
