<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="adminpage.css">
</head>

<body>

    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span>Hometro</span>
            </h3>
            <label for="sidebar-toggle" class="fa-solid fa-bars"></label>
        </div>

        <div class="sidebar-menu">
                <li>
                    <a href="adminpage.html ">
                        <span  class="fa-solid fa-house"></span>
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a href="services.html">
                        <span class="fa-solid fa-wifi"></span>
                        <span>Dịch vụ</span>
                    </a>
                </li>
                <li>
                    <a href="electricity.html">
                        <span class="fa-solid fa-bolt"></span>
                        <span>Chỉ số điện</span>
                    </a>
                </li>
                <li>
                    <a href="water.html">
                        <span class="fa-solid fa-water"></span>
                        <span>Chỉ số nước</span>
                    </a>
                </li>
                <li>
                    <a href="history.html">
                        <span class="fa-solid fa-clock-rotate-left"></span>
                        <span>Lịch sử</span>
                    </a>
                </li>
                <li>
                    <a href="contract.html">
                        <span class="fa-solid fa-file-contract"></span>
                        <span>Hợp đồng</span>
                    </a>
                </li>
                <li>
                    <a href="money.html">
                        <span class="fa-solid fa-money-bill"></span>
                        <span>Doanh thu</span>
                    </a>
                </li>
                
                <li>
                    <a href="account.html">
                        <span class="fa-solid fa-user"></span>
                        <span>Account</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="fa-solid fa-arrow-right-from-bracket"></span>
                        <span>Đăng xuất</span>
                    </a>
                </li>

        </div>
    </div>


    <div class="main-content">
        <header>
            <div class="search-wrapper">
                <span class="fa-solid fa-magnifying-glass"></span>
                <input type="text" placeholder="Search">
            </div>
            <div class="social-icons">
                <span class="fa-solid fa-bell"></span>
                <span class="fa-solid fa-comment-alt"></span>
            </div>
        </header>
        <main>
            <div class="hostel-number">
                <form action="">
                    <button type="submit" class="btn btn-warning">Nhà trọ 1</button>
                    <button type="submit" class="btn btn-warning">Nhà trọ 2</button>
                    <button type="submit" class="btn btn-primary fa-solid fa-plus"></button>
                </form>
            </div>
            <div class="dash-cards">
                <div class="card-single">
                    <div class="card-body">
                        <span class="fa-solid fa-house-chimney"></span>
                        <form action="">
                            <h5>Phòng 1</h5>
                            <h4 class=""> Phạm Phú Hưng</h4>
                            <h4 class="">4.300.000 VND</h4>
                            <button class="update-room btn btn-primary">Chỉnh sửa</button>
                            <button class="delete-room btn btn-danger">Xoá phòng</button>
                            <button class="bill-room btn btn-success">Gửi hoá đơn</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="chitietphong.html">Xem phòng</a>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-body">
                        <span class="fa-solid fa-house-chimney"></span>
                        <form action="">
                            <h5>Phòng 2</h5>
                            <h4 class=""> Đinh Hoàng Long</h4>
                            <h4>4.500.000 VND</h4>
                            <button class="update-room btn btn-primary">Chỉnh sửa</button>
                            <button class="delete-room btn btn-danger">Xoá phòng</button>
                            <button class="bill-room btn btn-success">Gửi hoá đơn</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="chitietphong.html">Xem phòng</a>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-body">
                        <span class="fa-solid fa-house-chimney"></span>
                        <form action="">
                            <h5>Phòng 3</h5>
                            <h4 class=""> Đỗ Hoàng Vũ</h4>
                            <h4>3.700.000 VND</h4>
                            <button class="update-room btn btn-primary">Chỉnh sửa</button>
                            <button class="delete-room btn btn-danger">Xoá phòng</button>
                            <button class="bill-room btn btn-success">Gửi hoá đơn</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="chitietphong.html">Xem phòng</a>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-body">
                        <span class="fa-solid fa-house-chimney"></span>
                        <form action="">
                            <h5>Phòng 4</h5>
                            <h4 class=""> Nguyễn Minh Anh</h4>
                            <h4>4.500.000 VND</h4>
                            <button class="update-room btn btn-primary">Chỉnh sửa</button>
                            <button class="delete-room btn btn-danger">Xoá phòng</button>
                            <button class="bill-room btn btn-success">Gửi hoá đơn</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="chitietphong.html">Xem phòng</a>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-body">
                        <span class="fa-solid fa-house-chimney"></span>
                        <form action="">
                            <h5>Phòng 5</h5>
                            <h4 class=""> Bùi Xuân Hùng</h4>
                            <h4>4.700.000 VND</h4>
                            <button class="update-room btn btn-primary">Chỉnh sửa</button>
                            <button class="delete-room btn btn-danger">Xoá phòng</button>
                            <button class="bill-room btn btn-success">Gửi hoá đơn</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="chitietphong.html">Xem phòng</a>
                    </div>
                </div>
            </div>
        </main>

    </div>

</body>

</html>